<div class="touch-menu" 
  hm-panmove="onHammer($event)" 
  hm-panstart="onPanStart($event)" 
  hm-panend="onPanEnd($event)" 
  
  ng-click="onClick()">
    
</div>

<div class="nav-header">
    <div class="control-area">
      <div class="">
        <span class="hamburger-trigger fa fa-bars"></span>
      </div>
    </div>
</div>

<div id="draggable" class="harmmer-draggerable" 
  hm-panmove="onHammer($event)" 
  hm-panstart="onPanStart($event)" 
  hm-panend="onPanEnd($event)" 
  ng-click="onClick()">

</div>