@import 'mediadef';

$header-grid : (
    columns : 3,
    gutter : 10px,
);

$touch-menu-width : 280px;
$icon-font-size : 3em;
$icon-font-padding : 12px;
$nav-header-bar-height : 56px;

.nav-header {
    width : 100vw;
    height : $nav-header-bar-height ;
    background-color:  #3F51B5;

    .control-area {
        position : absolute;
        background-color : yellow;
        width : 100%;
        height: $nav-header-bar-height ;

        font-size : $icon-font-size; 

        .hamburger-trigger {
            @include padding($icon-font-padding $icon-font-padding $icon-font-padding $icon-font-padding);
        }

        @include phone {
            left : 0px;
        }

        @include tablet {
            left : $touch-menu-width;
        }
    }
}

.nav-container {
    position : absolute;
    background-color : red;
    transition: all 0.3s ease-out !important; 

    @include phone {
        left : 0px;
        width : 100vw;
        height : calc(100vh - #{$nav-header-bar-height}); 
    }

    @include tablet {
        left : $touch-menu-width;
        width : calc(100vw - #{$touch-menu-width}); // #{} interpolation
        height : calc(100vh - #{$nav-header-bar-height}); 
    }
}

.nav-touch-menu {
    height : 100vh;
    position : absolute;
    top : 0;
    background-color : green;
    z-index: 9998;

    .nav-touch-menu-handle {
        position: absolute;
        width: 20px;
        height: 100vh;
        right: -20px;
        opacity: 0;
        background-color: red;
    }

    @include phone {
        width : $touch-menu-width; // using vw?
        left : -$touch-menu-width;
    }

    @include tablet {
        width :  $touch-menu-width;
        left : 0;

    }
}

.nav-touch-menu-mask {

    @include phone {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 1.0;
        z-index:  -1;
    }

    @include tablet {
        display: none;
    }
}

.nav-content-area {

    @include phone {
        left: 0;
    }

    @include tablet {
        left: $touch-menu-width;
    }
}


.test {
    position: absolute;
    width: 100px;
    height: 100px;
    
    z-index: 99999;
    


}

