@import 'mediadef';

$header-grid: (
    columns: 3,
    gutter : 10px,
);

$touch-menu-width: 280px;
$icon-font-size: 4em;
$icon-font-padding: 7px;

.nav-header {
    width: 100vw;
    height: 56px;
    background-color: #3F51B5;

    .control-area {
        position: absolute;
        background-color: yellow;
        width: 100%;
        //height: 100%;

        font-size: $icon-font-size; 
        .hamburger-trigger {

        }

        span {
            @include padding($icon-font-padding $icon-font-padding $icon-font-padding $icon-font-padding);
        }

        @include phone {
            left: 0px;
        }

        @include tablet {
            left: $touch-menu-width;
        }
    }
}

.touch-menu {
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: white;

    @include phone {
        width: $touch-menu-width; // using vw?
        left: -$touch-menu-width;
    }

    @include tablet {
        width:  $touch-menu-width;
        left: 0;
    }
}