@import 'mediadef';

.nav-header {
    width: 100vw;
    height: 56px;
    background-color: #3F51B5;
}

.touch-menu {
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: white;

    @include phone {
        width: 280px; // using vw?
        left: -280px;
    }

    @include tablet {
        width:  300px;
        left: 0;
    }
}